version: '2'
services:
  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    volumes:
      - acme_data:/web/acme/data
      - kivy_docs:/web/docs:ro
      - downloads:/web/downloads:ro
      - blog_content:/web/blog
    volumes_from:
      - site:ro
      - piwik:ro
      # - adminer:ro
    links:
      - blog
      - piwik
      - kgb
      # - adminer
    ports:
      - 80:80
      - 443:443
      - 5000:5000
    logging: &logging
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "10"

  site:
    build:
      context: ./site
    volumes:
      - /web/site
    logging:
      <<: *logging

  docs:
    build:
      context: ./docs
    volumes:
      - kivy_docs:/web/docs
    ports:
      - 2457:2457
    env_file:
      - ./secrets/env/ssh-pubkey
    logging:
      <<: *logging

  downloads:
    build:
      context: .
      dockerfile: ./downloads/Dockerfile
    volumes:
      - downloads:/web/downloads
    ports:
      - 2458:2458
    env_file:
      - ./secrets/env/ssh-pubkey
    logging:
      <<: *logging

  kgb:
    build:
      context: ./kgb
    env_file:
      - ./secrets/env/kgb
    logging:
      <<: *logging

  blog:
    build:
      context: ./blog
    volumes:
      - blog_content:/web/blog
    links:
      - blog_mysql
    environment:
      - BACKUP_MODE=backup  # none, backup, restore
      - BASE_BACKUP_CRON=0 6 * * Sun  # At 06:00 on Sun.
    env_file:
      - ./secrets/env/blog-s3-backup
    logging:
      <<: *logging

  blog_mysql:
    build:
      context: ./mysql
    volumes:
      - blog_mysql_data:/var/lib/mysql
    environment:
      - BACKUP_MODE=backup  # none, backup, restore
      - BASE_BACKUP_CRON=0 6 * * Sun  # At 06:00 on Sun.
    env_file:
      - ./secrets/env/blog-mysql
      - ./secrets/env/blog-s3-backup
    logging:
      <<: *logging

  piwik:
    build:
      context: ./piwik
    links:
      - piwik_mysql
    logging:
      <<: *logging

  piwik_mysql:
    build:
      context: ./mysql
    volumes:
      - piwik_mysql_data:/var/lib/mysql
    environment:
      - BACKUP_MODE=backup  # none, backup, restore
      - BASE_BACKUP_CRON=0 7 * * Sun  # At 07:00 on Sun.
    env_file:
      - ./secrets/env/piwik-mysql
      - ./secrets/env/piwik-s3-backup
    logging:
      <<: *logging

  nocarrier:
    build:
      context: ./nocarrier
    env_file:
      - ./secrets/env/nocarrier
    logging:
      <<: *logging

  # adminer:
  #   build:
  #     context: ./adminer
  #   volumes:
  #     - /adminer
  #   links:
  #     - blog_mysql
  #     - piwik_mysql
  #   logging:
  #     <<: *logging

volumes:
  blog_content:
  blog_mysql_data:
  piwik_mysql_data:
  downloads:
  kivy_docs:
  acme_data:
